section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

body{
    background-color: rgb(165, 8, 8);
}
header{
    border:solid 3px black;
}
h1{

  border:solid 3px black;

h1{
  border:solid 3px black;

}






  